@Model  ChoixSejour.ViewModels.VoyagePrevuViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

   <h1>Vue en construction</h1>
   <h3>@Model.Utilisateur.Prenom</h3>
    <h3>@Model.Sejour.Lieu</h3>
    <h3>@Model.Sejour.Telephone</h3>
</body>
</html>