 @model ChoixSejour.Models.Sejour

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ModifierLieu</title>
</head>
<body>
    <h1>Ceci est la page d'erreur</h1>
    <h3>@Model.Id</h3>
</body>
</html>
